
:root-colors{
    --button-primary-background: #5fa82f;
    --button-primary-font: #fff;

    --button-secondary-background: #e4e4e4;
    --button-secondary-font: #222;

    --element-highlight: #6db33f;
    --text-normal: #888;
    --text-bolder: #222;

    --text-hyperlink :#097dff;
    --text-watermark: #999999;
}



