@import "partials/reset";
@import "partials/inputs";

/*
    couleur utilisé

    vert foncé: #5fa82f
    vert moyen: #6db33f
    vert clair: #9af55d

    bleu: #097dff

    gris trés foncé: #222
    gris clair: #e4e4e4
*/

:root {
    --button-primary-background: #5fa82f;
    --button-primary-font: #fff;

    --button-secondary-background: #e4e4e4;
    --button-secondary-font: #222;

    --element-highlight: #6db33f;
    --element-hover: #9af55d;
    --text-normal: #888;
    --text-bolder: #222;

    --text-hyperlink: #097dff;
    --text-watermark: #999999;

    --bandeau-background: #e4e4e4;
    --bottom-menu-background: #999999;

    --font-family-main: Ubuntu, Geneva, Verdana, Tahoma, sans-serif;
    --font-family-title: "Ubuntu Condensed", "Segoe UI", Frutiger,
        "Frutiger Linotype", "Dejavu Sans Condensed", "Helvetica Neue",
        "Arial Narrow", Helvetica, Verdana, Arial, sans-serif;
}
html {
    height: 100%;
}
body {
    color: var(--text-bolder);
    font-size: 15px;
    font-family: var(--font-family-main);
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    height: 100%;
    display: table;
    width: 100%;
}
#menu {
    display: none;
}
#bandeau {
    background-color: var(--bandeau-background);
    padding: 10px 10px 2px 10px;
    display: flex;
}
#bandeau img {
    height: 64px;
    margin-right: 10px;
}
#bandeau a,
#bandeau a:visited,
#bandeau a:hover {
    border: 0px;
}
#bandeau ul {
    list-style: none;
}
#bandeau li {
    display: inline-block;
    vertical-align: middle;
    height: 56px;
    line-height: 56px;
    padding: 4px;
    //background-color: var(--button-secondary-background);
}

#bandeau li:hover {
    //background-color: var(--button-primary-background);
    cursor: pointer;
    border-bottom: 1px solid var(--button-primary-background);
}

#bandeau span {
    line-height: 64px;
    position: absolute;
    right: 10px;
    color: white;
}

.crea {
    overflow: hidden;
    min-width: 100%;
    min-height: 600px;
    max-width: 100%;
}
.divMilieu {
    position: absolute;
    left: calc(50% - 10rem);
    border: 1px solid var(--bandeau-background);
    width: 20rem;
    margin: 3rem auto;
    padding: 20px;
    transition: all 0.8s linear;
    overflow: hidden;
}

.divGauche {
    position: absolute;
    left: -50%;
    border: 1px solid var(--bandeau-background);
    width: 20rem;
    margin: 0;
    padding: 20px;
    transition: all 0.8s linear;
    overflow: hidden;
}

.divDroite {
    position: fixed;
    left: 100%;
    border: 1px solid var(--bandeau-background);
    width: 20rem;
    margin: 0;
    padding: 20px;
    transition: all 0.8s linear;
    overflow: hidden;
}

.inputType {
    display: block;
    margin-bottom: 1rem;
    width: 95%;
}

.gButton,
.gButton:hover {
    border: 0;
    padding: 8px;
    margin: 2rem 2px;
    width: 8rem;
    display: block;
    cursor: pointer;
    border-radius: 0 15px;
    font-weight: bold;
}
.gButtonTab , .gButtonTab:hover{
    border: 0;
    padding: 4px;
    width: 8rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px 0;
    font-weight: bold
}
.greyButton:hover {
    background-color: var(--button-primary-background);
    color: var(--button-primary-font);
}
.greyButton {
    background-color: var(--bottom-menu-background);
    color: var(--button-primary-font);
}
.greenButton:hover {
    background-color: var(--button-primary-background);
    color: var(--button-primary-font);
}
.greenButton {
    background-color: var(--element-highlight);
    color: var(--button-primary-font);
}
.gauche {
    float: left;
}

.droite {
    float: right;
}
.milieu {
    width: 60%;
    margin: 3rem auto;
}
footer {
    background-color: var(--bottom-menu-background);
    height: 1rem;
    width: 100%;
    display: table-row;
    color: white;
}

#listfiles {
    margin-top: 2rem;
    width: 85%;
    margin: auto;
}
.file {
    padding: 8px;
    display: flex;
}
.file img {
    height: 48px;
}
.file span {
    padding: 8px;
}
.file span {
    width: 100%;
}
.file span:last-child {
    width: 4rem;
}
.file:hover {
    background-color: var(--element-hover);
    cursor: pointer;
}
h1 {
    margin: 3rem 0 4rem 0;
    text-align: center;
    font-size: 2rem;
}
a,
a:visited {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid var(--button-primary-background);
}

a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid var(--element-hover);
}

footer a,
footer a:hover,
footer a:visited {
    color: white;
}

footer span {
    float: right;
    margin-right: 10px;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}
.barreEco {
    width: 768px;
    margin: auto;
    height: 48px;
    position: relative;
}
.barreEco div {
    height: 32px;
    width: 128px;
    border-radius: 15px;
    position: absolute;
}
.barreEco span {
    height: 32px;
    border-radius: 15px;
    position: absolute;
    padding: 0 8px;
    max-width: 22rem;
    min-width: 5rem;
}
.eco_G {
    background: #ed2124;
    left: 600px;
}
.eco_F {
    background: #f99839;
    left: 500px;
}
.eco_E {
    background: #fecd06;
    left: 400px;
}
.eco_D {
    background: #f6eb15;
    left: 300px;
}
.eco_C {
    background: #cadb2a;
    left: 200px;
}
.eco_B {
    background: #51b84b;
    left: 100px;
}
.eco_A {
    background: #349a47;
}

.labelHaut {
    border: 2px solid var(--button-primary-background);
}

.barreEco img {
    position: absolute;
    height: 32px;
}
#tri_eco_max {
    left: 700px;
}
#tri_eco,
#lab_eco {
    left: 350px;
}
#lab_eco_max {
    right: 36px;
}

.required_field {
    color: red;
}

.barreEco img {
    position: absolute;
    height: 32px;
}
#tri_eco_max {
    left: 700px;
}
#tri_eco,
#lab_eco {
    left: 350px;
}
#lab_eco_max {
    right: 36px;
}

.errorBox {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: 1rem;
}
.conso {
    width:65%;
    margin:auto;
    padding:1rem;
}
.conso div:first-child {
    padding: 4px 8px;
    background-color: var(--element-highlight);
    width:8rem;
}
.conso div:first-child {
    padding: 4px 8px;
    background-color: var(--element-highlight);
    width:8rem;
}
.conso input[type=button] {display:inline-block}
.conso canvas {
    background:blue;
    width:100%;
}
#histogramme svg {width:100%}
